.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.hero_txt {
  color: white;
  font-size: 3.5rem;
}

.hero_box {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(227, 210, 202, 1) 52%,
    rgba(227, 206, 194, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(227, 210, 202, 1) 52%,
    rgba(227, 206, 194, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(227, 210, 202, 1) 52%,
    rgba(227, 206, 194, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e3cec2",GradientType=1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.second_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(227, 206, 194, 1);
}

/* Add styles for scrolling and animation */
.scroll-lock {
  overflow: hidden; /* Prevent scrolling */
  position: fixed; /* Fix position */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; /* Ensure it's above other content */
}

.section {
  height: 100vh; /* Each section takes the full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
}

.section.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.section.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.scroll_knife {
  position: fixed;
  width: 2vw;
  top: 15%;
  left: 49%;
  transform: rotateZ(0deg);
  z-index: 888;
  transition: all 0.5s ease-in;
}
.scroll_knife_h {
  transform: rotateZ(90deg);
}
.scroll_knife_l {
  transform: rotateZ(0deg);
  left: 25%;
  top: 25%;
}

.scroll_knife.hidden {
  opacity: 0;
}

.product_card {
  width: 60vw;
  margin-top: 5vh;
  height: 85vh;
  user-select: none;
  display: flex;
  padding: 2rem;
  gap: 2rem;

  /* From https://css.glass */
  background: rgba(242, 192, 156, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.8px);
  -webkit-backdrop-filter: blur(15.8px);
  border: 1px solid rgba(242, 192, 156, 0.3);
}

.scroll_knife_product {
  left: 29%;
  top: 25%;
}
.product_img_box {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
}
.product_info_box {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-left: 8%;
  margin-top: 6vh;
}
.product_info_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.product_info_title h2 {
  font-size: 2.2rem;
  margin-top: 2rem;
}
.product_divider {
  width: 100;
  background-color: white;
  height: 3px;
  content: "";
  margin-top: 0.3vh;
}
.product_info_description {
  display: flex;

  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
